---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Escape The Pod</h1>
        <p class="hero__pretitle"><a href="/about/">It's time to,</a></p>

        <div class="hero__content">
            <p>Entrepreneurs share their ideas, products, and services with the world to make it a better place.</p><br />
            <p>The dictionary defines us as "one who organizes, manages, and assumes the risks of a business or enterprise."</p><br />
            <p>However, we are building a tight-knit Entrepreneur Success Community.</p><br />
            <p>We believe the risk is staying with the status quo. The risk is staying with a job you don't love and living a life that doesn't make you happy.</p><br />
            <p>The risk is having dreams but not pursuing them. Deciding to stay comfortable instead of carving your piece of the pie.</p><br />
            <p>Life is too short to waste. It's time for you to start and grow a side gig that can give you the freedom to pursue more of the things you want.</p>
        </div>
    </div>
</div>
